.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding:1em 2em;
    box-sizing: border-box;
    width: 100%;
  }
  
  .navbar-icon:hover {
    cursor: pointer;
    opacity: 0.8;
  }