.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0.5em 2em;
    box-sizing: border-box;
    width: 100%;
    -webkit-touch-callout: none;
    -webkit-user-select: none; 
     -khtml-user-select: none; 
       -moz-user-select: none; 
        -ms-user-select: none; 
            user-select: none; 
  }
  
  .navbar-icon:hover {
    cursor: pointer;
    opacity: 0.8;
  }

  .navbar h1 {
    font-weight: 900;
    font-style: italic;
    /* color:var(--color-highlight); */
    /* background:linear-gradient(90deg, var(--color-highlight), #e58e2790); */
    background:linear-gradient(90deg, var(--color-highlight), var(--color-primary));
    -webkit-background-clip:text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color:transparent;
    letter-spacing: .1em;
  }