@font-face {
  font-family: Roboto;
  src: url(./assets/fonts/Roboto-Regular.ttf);
}

:root {
  --bg-primary: #161a1e;
  --bg-primary-light: #6b6c6d29;
  --bg-primary-lighter:#6b6c6d40;
  --bg-gradient: linear-gradient(.25turn, #6b6c6d29 60%, #74553639);
  --color-primary: #fbfbfb;
  --color-highlight:#e58e27;
  --color-secondary:#9a9a9a;
  --font-primary: Roboto;
}

#root {
  margin: 0;
  padding:0;
  max-width: none;
}

body, html {
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--bg-primary);
  color: var(--color-secondary);
  font-family: var(--font-primary);
  margin: 0 auto;
  width:90%;
}

/* Navbar starts */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list > ul{
  list-style-type: none;
  display: flex;
  gap:30px;
}

.list img {
  width:30px;
  height: 30px;
  fill:var(--color-primary);
}
/* Navbar ends */

/* game store starts */
.games-container {
  display:flex;
  margin-top:3em;
  width: 100%;
}

.games {
  background-color: var(--bg-primary);
  flex-basis:0;
  flex-grow: 999;
}

/* .game-container {
  display:flex;
  justify-content: space-between;
  flex-wrap:wrap;
  row-gap:40px;
  padding:50px 30px;
} */

.game-container {
  display:grid;
  grid-template-columns: 1fr 1fr;
  padding:50px 30px;
  row-gap:40px;
  column-gap:50px;
}

.game-container-notfound {
  display: flex;
  padding: 50px 30px;
  justify-content: center;
  width: 100%;
}

.game {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* background-color:#6b6c6d29; */
   background-color:#49352139;
  background: var(--bg-gradient);
  padding: 10px 5px;
  text-align: left;
  border-radius: 5%;
  color:var(--color-primary);
  height:500px;
}

.title {
  width: 90%;
}

.title > h2 {
  line-height: 1.5rem;
}

.game > img {
  width: 90%;
  height: 200px;
  border-radius: 10px;
  object-fit:cover;
  align-self: center;
}

.game > .title > .description {
  color:var(--color-secondary);
}

.game-info-btn {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap:20px;
  color:var(--color-highlight)
}

.game-info-btn > button {
  width: 90%;
  border: none;
  background-color: var(--color-highlight);
  padding:5px 40px;
  border-radius:50px;
  font-family: var(--font-primary);
  font-weight: 600;
  letter-spacing: 1px;
}

.game-info-btn > button:hover {
  opacity: 0.8;
  cursor: pointer;
}
/* game store ends */

/* sidebar starts */

.sidebar {
  text-align: left;
  margin-top:3em;
  padding-left: 30px;
  border-radius: 20px;
  background: var(--bg-gradient);
  flex-basis:20rem;
  flex-grow: 1;
}

.sidebar h2 {
  color: var(--color-primary);
}

.sidebar-category {
  display: flex;
  align-items: center;
  gap:10px;
  margin-bottom: 10px;
}

.sidebar-category label {
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none; 
   -khtml-user-select: none; 
     -moz-user-select: none; 
      -ms-user-select: none; 
          user-select: none; 
}

.sidebar input[type="checkbox"], .sidebar input[type="radio"]{
  appearance: none;
  height:25px;
  width: 25px;
  background-color: var(--bg-primary-light);
  border-radius: 5px;
  border:2px solid var(--bg-primary-lighter);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
}

.sidebar input[type="checkbox"]::after, .sidebar input[type="radio"]::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size:15px;
  color:var(--color-primary);
  content: "\f00c";
  display: none;
}

.sidebar input[type="checkbox"]:hover, .sidebar input[type="radio"]:hover {
  background-color: var(--bg-primary-lighter);
}

.sidebar input[type="checkbox"]:checked, .sidebar input[type="radio"]:checked {
  background-color: var(--color-highlight);
}

.sidebar input[type="checkbox"]:checked::after, .sidebar input[type="radio"]:checked::after {
  display: block;
}

.toggleCategories-btn {
  color:var(--color-secondary);
  cursor: pointer;
}

.toggleCategories-btn img {
  width: 15px;
}

.toggleCategories-btn span {
  display: flex;
  align-items: center;
  justify-content: left;
  column-gap: 5px;
  width: 100%;
  opacity: 0.5;
}

.toggleCategories-btn span:hover {
  opacity: 0.8;
}

/* sidebar ends */

/* Loading animation starts */

.ring-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 30%;
  padding-left: 20%;
}

.ring
{
  position: relative;
  transform:translate(-50%,-50%);
  width:150px;
  height:150px;
  background:transparent;
  border:3px solid var(--bg-primary-light);
  border-radius:50%;
  text-align:center;
  line-height:150px;
  font-family:sans-serif;
  font-size:20px;
  color:var(--color-highlight);
  letter-spacing:4px;
  text-transform:uppercase;
  text-shadow:0 0 10px var(--color-highlight);
  box-shadow:0 0 20px rgba(0,0,0,.5);
}
.ring:before
{
  content:'';
  position:absolute;
  top:-3px;
  left:-3px;
  width:100%;
  height:100%;
  border:3px solid transparent;
  border-top:3px solid var(--color-highlight);
  border-right:3px solid var(--color-highlight);
  border-radius:50%;
  animation:animateC 2s linear infinite;
}
.ring span
{
  display:block;
  position:absolute;
  top:calc(50% - 2px);
  left:50%;
  width:50%;
  height:4px;
  background:transparent;
  transform-origin:left;
  animation:animate 2s linear infinite;
}
.ring span:before
{
  content:'';
  position:absolute;
  width:16px;
  height:16px;
  border-radius:50%;
  background:var(--color-highlight);
  top:-6px;
  right:-8px;
  box-shadow:0 0 20px var(--color-highlight);
}
@keyframes animateC
{
  0%
  {
    transform:rotate(0deg);
  }
  100%
  {
    transform:rotate(360deg);
  }
}
@keyframes animate
{
  0%
  {
    transform:rotate(45deg);
  }
  100%
  {
    transform:rotate(405deg);
  }
}

/* Loading animation ends */