@font-face {
  font-family: Roboto;
  src: url(./assets/fonts/Roboto-Regular.ttf);
}

:root {
  --bg-primary: #161a1e;
  --bg-primary-light: #6b6c6d29;
  --bg-primary-lighter:#6b6c6d40;
  --bg-gradient: linear-gradient(.25turn, #6b6c6d29 60%, #74553639);
  --color-primary: #fbfbfb;
  --color-highlight:#e58e27;
  --color-secondary:#9a9a9a;
  --font-primary: Roboto;
}

#root {
  margin: 0;
  padding:0;
  max-width: none;
}

body, html {
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--bg-primary);
  color: var(--color-secondary);
  font-family: var(--font-primary);
}
